.form-wrapper {
    @include padding;
    padding-top: 0;
    .message-send-status {
        font-size: $xl-font-size;
        @include header-font;
        background: $light-grey;
        text-align: center;
        @include padding;
    }
    .helper {
        @include body-copy-small;
    }
    .field {
        display: flex;
        flex-wrap: wrap;
        @include margin-bottom;
        @include body-copy;
        label {
            width: 100%;
            padding-bottom: 6px;
            @include body-copy;
        }
        .input-text {
            height: $input-field-height;
            width: 100%;
            max-width: $input-max-width;
            padding-left: 8px;
            @include body-copy;
        }
        .input-textarea {
            width: 100%;
            max-width: $input-max-width;
            padding-left: 8px;
            @include body-copy;
        }
        p.danger {
            width: 100%;
            color: red;
            margin-bottom: 0;
        }
    }
    .buttons {
        width: 100%;
        max-width: calc($input-max-width + 12px);
        display: flex;
        justify-content: space-between;
        .btn {
            height: $cta-button-height;
            border: 1px solid $primary-grey;
            cursor: pointer;
        }
        .btn-primary {
            background: $primary-grey;
            color: $white;
            margin-right: $margin-small;
        }
        .hollow {
            background: transparent;
            color: $primary-grey;
        }
    }
}