.pagination {
    display: flex;
    flex-wrap: wrap;
    @include margin-bottom;

    p,
    .buttons {
        display: flex;
        flex-basis: 100%;
        justify-content: center;

        button {
            background: transparent;
            @include header-font;
            border: none;
            cursor: pointer;
            font-size: $xl-font-size;
        }
    }
}