.page-header {
    .title, .sub-title {
        display: flex;
        @include padding;
        @include margin-bottom;
    }
    .title {
        border-top: 4px solid $border-grey;
        border-bottom: 4px solid $border-grey;
        @include border-radius;
        justify-content: center;
    }
    .sub-title {
        border-left: 8px solid $border-grey;

        h3 {
            @include regular-font;
            line-height: 30px;
        }
    }
}
