.nav-block-container {
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    @include margin-top;
    .side-nav-block {
        flex: 0 1 calc(50% - $margin);
        margin: 0 0 $margin 0;
        align-items: center;
        a {
            text-decoration: none;
            .link,
            .icon {
                display: flex;
                @include padding;
                @include header-font;
                justify-content: center;
                font-size: 22px
            }
            .link {
                color: $white;
                font-size: 22px;
            }
            .icon {
                color: $primary-grey;
                font-size: 42px;
            }
        }
        

    }
}
