footer.footer {
    border-top: 1px solid $border-grey;

    .inner-content {
        display: flex;
        justify-content: center;
        @include padding-top;

        .copyright {
            @include regular-font;
        }
    }
}