/* Site settings */
$site-max-width: 1080px;

/* Padding and margin */
$padding: 20px;
$margin: 20px;
$padding-small: 10px;
$margin-small: 10px;

/* Heights */
$cta-button-height: 50px;
$input-field-height: 46px;

/* Widths */
$input-max-width: 345px;

/* Icon paths */

/* background images */

/* Video */

/* Transitions */
$transition-speed: 250ms;

/* Border radius */
$border-radius: 0px;

/* Header */
$header-height: 74px;
